In [36]:
import numpy as np
from scipy.integrate import odeint
import matplotlib.pyplot as plt
import pandas as pd
from scipy.optimize import minimize
import matplotlib.gridspec as gridspec
from datetime import date, timedelta
import geopandas as gpd

#import today date
date_today = date.today()
year_t,month_t,date_t=str(date_today).split('-')

# The SIR model differential equations.
def deriv(y, t, N, beta,gamma):
    S,I,R = y

    dSdt = -(beta*I/N)*S 
    dIdt = (beta*S/N)*I - gamma*I 
    dRdt = gamma*I 
    
    return dSdt, dIdt, dRdt

#Integration of the differential equations
    
def time_evo(N,beta,gamma,I0=1,R0=0,t=np.arange(0,365)):
    # Definition of the initial conditions
    # I0 and R0 denotes the number of initial infected people (I0) 
    # and the number of people that recovered and are immunized (R0)
    
    # t ise the timegrid
    
    S0=N-I0-R0  # number of people that can still contract the virus
    
    # Initial conditions vector
    y0 = S0, I0, R0

    # Integrate the SIR equations over the time grid, t.
    ret = odeint(deriv, y0, t, args=(N,beta,gamma))
    S, I, R = np.transpose(ret)
    
    return (t,S,I,R)

countries_list=['Albania',
                'Armenia',
                'Austria',
                'Azerbaijan',
                'Belarus',
                'Belgium',
                'Bosnia and Herzegovina',
                'Bulgaria',
                'Cyprus',
                'Croatia',
                'Czechia',
                'Denmark',
                'Estonia',
                'Finland',
                'France',
                'Georgia',
                'Germany',
                'Greece',
                'Hungary',
                'Iceland',
                'Ireland',
                'Israel',
                'Italy',
                'Kazakhstan',
                'Kyrgyzstan',
                'Latvia',
                'Lithuania',
                'Luxembourg',
                'Malta',
                'Moldova',
                'Monaco',
                'Montenegro',
                'Netherlands',
                'North Macedonia',
                'Norway',
                'Poland',
                'Portugal',
                'Romania',
                'Serbia',
                'Slovakia',
                'Slovenia',
                'Spain',
                'Sweden',
                'Switzerland',
                'Turkey',
                'Ukraine',
                'United Kingdom']

#IMPORT FILES WORLD
#i files sono: le righe sono le nazioni, le colonne i giorni del mese (DATE).

file_confirmed='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
file_deaths='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
file_recovered='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

df_confirmed=pd.read_csv(file_confirmed)
df_deaths=pd.read_csv(file_deaths)
df_recovered=pd.read_csv(file_recovered)

countries_w_confirmed = df_confirmed['Country/Region']
countries_w_deaths = df_deaths['Country/Region']
countries_w_recovered = df_recovered['Country/Region']

#confirmed world
confirmed_world0 = df_confirmed.drop(['Province/State','Lat','Long'], 
                                    axis=1)
confirmed_world0.rename(index=countries_w_confirmed, inplace=True)
confirmed_world = confirmed_world0.drop(['Country/Region'], 
                                        axis=1).T.reset_index()
confirmed_world.rename(columns={'index':'Date'}, inplace=True)

#deaths world
deaths_world0 = df_deaths.drop(['Province/State','Lat','Long'], 
                                    axis=1)
deaths_world0.rename(index=countries_w_deaths, inplace=True)
deaths_world = deaths_world0.drop(['Country/Region'], 
                                        axis=1).T.reset_index()
deaths_world.rename(columns={'index':'Date'}, inplace=True)

#recovered world
recovered_world0 = df_recovered.drop(['Province/State','Lat','Long'], 
                                    axis=1)
recovered_world0.rename(index=countries_w_recovered, inplace=True)
recovered_world = recovered_world0.drop(['Country/Region'], 
                                        axis=1).T.reset_index()
recovered_world.rename(columns={'index':'Date'}, inplace=True)

confirmed_europe0 = confirmed_world[countries_list]
deaths_europe0 = deaths_world[countries_list]
recovered_europe0 = recovered_world[countries_list]

array_names=([])
for name in countries_list:
    array_names.append([name,list(countries_w_confirmed).count(name)])

Totale=pd.DataFrame()
for i in range(0, len(countries_list)):
    if array_names[i][1] > 1:
               Totale.insert(i, 
                              countries_list[i], 
                              value=confirmed_europe0[countries_list[i]].T.sum())
    elif array_names[i][1]==1:
                Totale.insert(i, 
                                countries_list[i], 
                                value=confirmed_europe0[countries_list[i]].T)

Totale.insert(0, 'Date', confirmed_world['Date'])

Deceduti=pd.DataFrame()
for i in range(0, len(countries_list)):
    if array_names[i][1] > 1:
            Deceduti.insert(i, 
                              countries_list[i], 
                              value=deaths_europe0[countries_list[i]].T.sum())
    elif array_names[i][1]==1:
            Deceduti.insert(i, 
                              countries_list[i], 
                              value=deaths_europe0[countries_list[i]].T)

Deceduti.insert(0, 'Date', deaths_world['Date'])

Guariti=pd.DataFrame()
for i in range(0, len(countries_list)):
    if array_names[i][1] > 1:
                Guariti.insert(i, 
                              countries_list[i], 
                              value=recovered_europe0[countries_list[i]].T.sum())
    elif array_names[i][1]==1:
                Guariti.insert(i, 
                                 countries_list[i], 
                                 value=recovered_europe0[countries_list[i]].T)

Guariti.insert(0, 'Date', recovered_world['Date'])

#Active Infected
Attualmente_positivi=pd.DataFrame()

for i in range(0, len(countries_list)):
    Attualmente_positivi.insert(i, 
                                  countries_list[i], 
                                  value=
                                     Totale[countries_list[i]]-
                                      Deceduti[countries_list[i]]-
                                      Guariti[countries_list[i]])

Attualmente_positivi.insert(0, 'Date', confirmed_world['Date'])

Totale.to_csv('output/10_tot_casi_europe_'+date_t+month_t+'.csv', index=True)
Deceduti.to_csv('output/10_deceduti_europe_'+date_t+month_t+'.csv', index=True)
Guariti.to_csv('output/10_guariti_europe_'+date_t+month_t+'.csv', index=True)
Attualmente_positivi.to_csv('output/10_attualmente_positivi_europe_'+date_t+month_t+'.csv', index=True)

#Daily variation infected
Variazione_giornaliera = pd.DataFrame(Attualmente_positivi['Date'].iloc[1:])

for name in countries_list:
    active_var=([])    
    for i in range(1,len(Attualmente_positivi)):
        active_var.append(Attualmente_positivi[name][i]-Attualmente_positivi[name][i-1])
    Variazione_giornaliera[name]=active_var

Variazione_giornaliera.to_csv('output/10_variazione_giornaliera_europe_'+date_t+month_t+'.csv', index=True)

def func_plot(df):
    
    y_world=[]
    n_cols=df.shape[1]
    
    for i in range(n_cols-4):
        y_world.append(df.iloc[:,i+4].sum())
    
    x_world2=df.columns[4:]
    x_world=pd.to_datetime(x_world2,infer_datetime_format=False)
    
    return (x_world,y_world)

#Generalization to other countries

def whichcountry(name):

    ######## INPUT PARAMETERS ########
    country=name
    t0=pd.to_datetime('2020-01-22')
    #################################

    mask_coun=df_confirmed['Country/Region']==country   # you can change the country here
    mask_coun_rec=df_recovered['Country/Region']==country

    df_confirmed_C=df_confirmed.loc[mask_coun,:]
    df_deaths_C=df_deaths.loc[mask_coun,:]
    df_recovered_C=df_recovered.loc[mask_coun_rec,:]

    ytot=np.array(func_plot(df_confirmed_C)[1])
    ydeaths=np.array(func_plot(df_deaths_C)[1])
    yrec=np.array(func_plot(df_recovered_C)[1])

    return ytot-ydeaths-yrec, ytot[-1], yrec[-1],ydeaths[-1]

xdata=pd.to_numeric(range(Attualmente_positivi.shape[0]))

today=len(xdata)

def minimizer(R0,t1=today-5,t2=today):
    array_country_bis=array_country
    
    #true data
    ydata_inf_2=array_country[t1:t2]
    xdata_2=np.arange(0,len(ydata_inf_2))
    
    #model
    fin_result=time_evo(60*10**6,1/14*R0,1/14,I0=ydata_inf_2[0])
    i_vec=fin_result[2]
    i_vec_2=i_vec[0:len(xdata_2)]
    
    #average error
    error=np.sum(np.abs(ydata_inf_2-i_vec_2)/ydata_inf_2)*100
    return error

minimizer_vec=np.vectorize(minimizer)

time_window=5

def minimizer_gen(t1,t2,xgrid=np.arange(0.1,5,0.01)):

    ygrid=minimizer_vec(xgrid,t1=t1,t2=t2)
    r0_ideal=round(xgrid[np.argmin(ygrid)],2)

    return r0_ideal

r0_today=[]
scangrid=np.linspace(0,3,400)
name_R0_array = []

for name in range(0, len(countries_list)):
    
    array_country=whichcountry(countries_list[name])[0]
    
    i = today-(time_window-1)
    min_today=minimizer_gen(i,i+time_window,scangrid)
    r0_today.append(min_today)
    #scangrid=np.linspace(0,5,200)
    name_R0_array.append([countries_list[name], min_today])

name_R0_df = pd.DataFrame(name_R0_array, columns=['Country', 'R0'])

countries_hist=['United Kingdom',
                'Ukraine',
                'Poland',
                'Greece',
                'Netherlands',
                'Portugal',
                'Belgium',
                'France',
                'Slovenia',
                'Serbia',
                'Spain',
                'Italy',
                'Sweden',
                'Austria',
                'Slovakia',
                'Turkey']

hist_list=[]
for i in range(len(countries_hist)):
    ind = name_R0_df.loc[name_R0_df['Country'] == countries_hist[i]].index[0]
    hist_list.append([name_R0_df['Country'][ind], name_R0_df['R0'][ind]])
hist_df = pd.DataFrame(hist_list, columns=['Country', 'R0'])
hist_df.to_csv('output/10_R0_europe_hist_'+date_t+month_t+'.csv')

##import yesterday date
#yesterday = date.today() - timedelta(days=1)
#year_y,month_y,date_y=str(yesterday).split('-')
#
#r0_countries_imp = pd.read_excel('input/input.xlsx')
#
#
#row_today=pd.DataFrame(np.reshape(r0_today,(1, len(countries_list))),
#                       index= [str(yesterday)],
#                       columns=countries_list).reset_index()
#row_today.rename(columns={'index':'Data'}, inplace=True)
#row_today.index = [len(r0_countries_imp)]
#
#export_today = pd.concat([r0_imp_noindex,row_today])
#export_today.to_excel('output/10_R0_europe_curve_'+date_t+month_t+'.xlsx',index=True)
#export_today.to_excel('input/input.xlsx', index = True)
#
#r0_to_join = pd.Series(name_R0_df['R0'])
#r0_to_join.index = name_R0_df['Country']
#confirmed_to_join = Totale.iloc[-1, 1:]
#deaths_to_join = Deceduti.iloc[-1, 1:]
#recovered_to_join = Guariti.iloc[-1, 1:]
#ai_to_join = Attualmente_positivi.iloc[-1, 1:]
#
#frame = {'R0':r0_to_join,
#         'Confirmed': confirmed_to_join, 
#         'Deaths': deaths_to_join, 
#         'Recovered':recovered_to_join, 
#         'Active Infected': ai_to_join}
#
#df_to_join = pd.DataFrame(frame)
#df_to_join.rename(index={'Czechia':'Czech Republic', 
#                         'Moldova':'Republic of Moldova', 
#                         'North Macedonia':'The former Yugoslav Republic of Macedonia'})
#df_to_join.reset_index()
#
##Map
#map = gpd.read_file("https://raw.githubusercontent.com/leakyMirror/map-of-europe/master/GeoJSON/europe.geojson")
#map = map.join(df_to_join, on='NAME', how='left')

In [37]:
#import yesterday date
yesterday = date.today() - timedelta(days=1)
year_y,month_y,date_y=str(yesterday).split('-')

r0_countries_imp = pd.read_excel('input/input.xlsx')

In [38]:
r0_countries_imp.tail()

,Date,Albania,Armenia,Austria,Azerbaijan,Belarus,Belgium,Bosnia and Herzegovina,Bulgaria,Cyprus,...,Romania,Serbia,Slovakia,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United Kingdom
98,2020-06-17,2.75,1.46,1.23,1.50,0.89,1.03,1.84,1.25,0.91,...,1.39,1.21,0.63,2.20,1.07,1.23,0.20,1.23,1.41,1.07
99,2020-06-18,2.49,1.30,1.53,1.57,0.89,1.03,2.10,1.35,0.77,...,1.28,1.19,0.34,2.21,1.07,1.28,0.37,1.25,1.32,1.07
100,2020-06-19,2.33,1.14,1.44,1.52,0.68,1.03,1.61,1.47,0.64,...,1.33,1.31,0.00,2.64,1.04,1.26,1.89,1.10,1.27,1.07
101,2020-06-20,1.84,0.99,1.26,1.67,0.54,1.03,1.56,1.40,0.85,...,1.40,1.62,1.13,2.73,1.03,1.23,1.97,0.95,1.26,1.07
102,2020-06-21,1.82,0.84,1.42,1.68,0.58,1.03,1.38,1.35,0.79,...,1.25,1.66,1.54,1.83,1.00,1.13,1.54,0.90,1.29,1.07

In [39]:
row_today=pd.DataFrame(np.reshape(r0_today,(1, len(countries_list))),
                       index= [str(yesterday)],
                       columns=countries_list).reset_index()
row_today.rename(columns={'index':'Date'}, inplace=True)
row_today.index = [len(r0_countries_imp)]

In [40]:
row_today.head()

,Date,Albania,Armenia,Austria,Azerbaijan,Belarus,Belgium,Bosnia and Herzegovina,Bulgaria,Cyprus,...,Romania,Serbia,Slovakia,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United Kingdom
103,2020-06-21,1.6,0.8,1.21,1.68,0.6,1.02,1.44,1.26,0.83,...,1.26,1.71,1.97,0.05,0.95,1.0,0.89,0.87,1.3,1.07

In [41]:
export_today = pd.concat([r0_countries_imp,row_today])

In [42]:
export_today.tail(10)

,Date,Albania,Armenia,Austria,Azerbaijan,Belarus,Belgium,Bosnia and Herzegovina,Bulgaria,Cyprus,...,Romania,Serbia,Slovakia,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United Kingdom
94,2020-06-13 00:00:00,1.85,1.20,0.66,1.62,0.80,1.03,1.68,1.78,1.19,...,1.11,1.62,1.19,1.94,1.10,1.40,0.61,0.69,1.21,1.07
95,2020-06-14 00:00:00,1.82,1.56,0.63,1.50,0.79,1.03,1.48,1.77,1.21,...,1.17,1.96,1.28,1.85,1.10,1.42,0.76,1.09,1.28,1.07
96,2020-06-15 00:00:00,2.09,1.55,0.62,1.50,0.76,1.03,1.50,1.56,1.25,...,1.30,1.50,1.26,2.27,1.07,1.32,1.79,1.13,1.36,1.07
97,2020-06-16 00:00:00,2.71,1.45,0.85,1.50,0.90,1.03,1.67,1.38,1.01,...,1.27,1.34,1.26,2.19,1.07,1.27,0.72,1.26,1.37,1.07
98,2020-06-17 00:00:00,2.75,1.46,1.23,1.50,0.89,1.03,1.84,1.25,0.91,...,1.39,1.21,0.63,2.20,1.07,1.23,0.20,1.23,1.41,1.07
99,2020-06-18 00:00:00,2.49,1.30,1.53,1.57,0.89,1.03,2.10,1.35,0.77,...,1.28,1.19,0.34,2.21,1.07,1.28,0.37,1.25,1.32,1.07
100,2020-06-19 00:00:00,2.33,1.14,1.44,1.52,0.68,1.03,1.61,1.47,0.64,...,1.33,1.31,0.00,2.64,1.04,1.26,1.89,1.10,1.27,1.07
101,2020-06-20 00:00:00,1.84,0.99,1.26,1.67,0.54,1.03,1.56,1.40,0.85,...,1.40,1.62,1.13,2.73,1.03,1.23,1.97,0.95,1.26,1.07
102,2020-06-21 00:00:00,1.82,0.84,1.42,1.68,0.58,1.03,1.38,1.35,0.79,...,1.25,1.66,1.54,1.83,1.00,1.13,1.54,0.90,1.29,1.07
103,2020-06-21,1.60,0.80,1.21,1.68,0.60,1.02,1.44,1.26,0.83,...,1.26,1.71,1.97,0.05,0.95,1.00,0.89,0.87,1.30,1.07

In [43]:
export_today.to_excel('output/10_R0_europe_curve_'+date_t+month_t+'.xlsx',index=True)
export_today.to_excel('input/input.xlsx', index = True)

In [44]:
r0_to_join = pd.Series(name_R0_df['R0'])
r0_to_join.index = name_R0_df['Country']

In [45]:
r0_to_join.head()

Country
Albania       1.60
Armenia       0.80
Austria       1.21
Azerbaijan    1.68
Belarus       0.60
Name: R0, dtype: float64

In [46]:
confirmed_to_join = Totale.iloc[-1, 1:]
deaths_to_join = Deceduti.iloc[-1, 1:]
recovered_to_join = Guariti.iloc[-1, 1:]
ai_to_join = Attualmente_positivi.iloc[-1, 1:]

frame = {'R0':r0_to_join,
         'Confirmed': confirmed_to_join, 
         'Deaths': deaths_to_join, 
         'Recovered':recovered_to_join, 
         'Active Infected': ai_to_join}

In [47]:
df_to_join = pd.DataFrame(frame)
df_to_join.rename(index={'Czechia':'Czech Republic', 
                         'Moldova':'Republic of Moldova', 
                         'North Macedonia':'The former Yugoslav Republic of Macedonia'})

,R0,Confirmed,Deaths,Recovered,Active Infected
Country,,,,,
Albania,1.60,1962,44,1134,784
Armenia,0.80,20268,350,9002,10916
Austria,1.21,17341,690,16197,454
Azerbaijan,1.68,12729,154,6799,5776
Belarus,0.60,58505,346,37666,20493
Belgium,1.02,60550,9696,16771,34083
Bosnia and Herzegovina,1.44,3273,169,2241,863
Bulgaria,1.26,3905,199,2074,1632
Cyprus,0.83,986,19,824,143
Croatia,3.00,2317,107,2142,68
Czech Republic,1.29,10498,336,7499,2663
Denmark,1.07,12591,600,11482,509
Estonia,0.64,1981,69,1764,148
Finland,1.19,7143,326,6200,617
France,1.07,197008,29643,74496,92869
Georgia,0.89,906,14,755,137
Germany,1.35,191272,8895,174740,7637
Greece,1.11,3266,190,1374,1702
Hungary,0.89,4094,570,2589,935
Iceland,3.00,1823,10,1805,8
Ireland,1.11,25379,1715,22698,966
Israel,1.59,20778,306,15694,4778
Italy,0.41,238499,34634,182893,20972
Kazakhstan,1.76,17732,120,10897,6715
Kyrgyzstan,3.00,3356,40,2021,1295
Latvia,1.08,1111,30,903,178
Lithuania,0.73,1798,76,1475,247
Luxembourg,2.29,4120,110,3956,54
Malta,0.16,665,9,616,40
Republic of Moldova,1.35,14200,473,7896,5831
Monaco,1.00,100,4,94,2
Montenegro,3.00,362,9,315,38
Netherlands,1.03,49801,6109,186,43506
The former Yugoslav Republic of Macedonia,1.56,5106,238,1926,2942
Norway,1.50,8745,244,8138,363
Poland,0.84,31931,1356,16683,13892
Portugal,0.88,39133,1530,25376,12227
Romania,1.26,24045,1512,16911,5622
Serbia,1.71,12894,261,11947,686
Slovakia,1.97,1587,28,1447,112
Slovenia,0.05,1520,109,1376,35
Spain,0.95,246272,28323,150376,67573
Sweden,1.00,56043,5053,0,50990
Switzerland,0.89,31292,1956,29000,336
Turkey,0.87,187685,4950,160240,22495
Ukraine,1.30,37361,1012,17078,19271
United Kingdom,1.07,305803,42717,1319,261767

In [48]:
df_to_join.reset_index()

                   Country    R0 Confirmed Deaths Recovered Active Infected
0                  Albania  1.60      1962     44      1134             784
1                  Armenia  0.80     20268    350      9002           10916
2                  Austria  1.21     17341    690     16197             454
3               Azerbaijan  1.68     12729    154      6799            5776
4                  Belarus  0.60     58505    346     37666           20493
5                  Belgium  1.02     60550   9696     16771           34083
6   Bosnia and Herzegovina  1.44      3273    169      2241             863
7                 Bulgaria  1.26      3905    199      2074            1632
8                   Cyprus  0.83       986     19       824             143
9                  Croatia  3.00      2317    107      2142              68
10                 Czechia  1.29     10498    336      7499            2663
11                 Denmark  1.07     12591    600     11482             509
12                 Estonia  0.64      1981     69      1764             148
13                 Finland  1.19      7143    326      6200             617
14                  France  1.07    197008  29643     74496           92869
15                 Georgia  0.89       906     14       755             137
16                 Germany  1.35    191272   8895    174740            7637
17                  Greece  1.11      3266    190      1374            1702
18                 Hungary  0.89      4094    570      2589             935
19                 Iceland  3.00      1823     10      1805               8
20                 Ireland  1.11     25379   1715     22698             966
21                  Israel  1.59     20778    306     15694            4778
22                   Italy  0.41    238499  34634    182893           20972
23              Kazakhstan  1.76     17732    120     10897            6715
24              Kyrgyzstan  3.00      3356     40      2021            1295
25                  Latvia  1.08      1111     30       903             178
26               Lithuania  0.73      1798     76      1475             247
27              Luxembourg  2.29      4120    110      3956              54
28                   Malta  0.16       665      9       616              40
29                 Moldova  1.35     14200    473      7896            5831
30                  Monaco  1.00       100      4        94               2
31              Montenegro  3.00       362      9       315              38
32             Netherlands  1.03     49801   6109       186           43506
33         North Macedonia  1.56      5106    238      1926            2942
34                  Norway  1.50      8745    244      8138             363
35                  Poland  0.84     31931   1356     16683           13892
36                Portugal  0.88     39133   1530     25376           12227
37                 Romania  1.26     24045   1512     16911            5622
38                  Serbia  1.71     12894    261     11947             686
39                Slovakia  1.97      1587     28      1447             112
40                Slovenia  0.05      1520    109      1376              35
41                   Spain  0.95    246272  28323    150376           67573
42                  Sweden  1.00     56043   5053         0           50990
43             Switzerland  0.89     31292   1956     29000             336
44                  Turkey  0.87    187685   4950    160240           22495
45                 Ukraine  1.30     37361   1012     17078           19271
46          United Kingdom  1.07    305803  42717      1319          261767

In [49]:
#Map
map = gpd.read_file("https://raw.githubusercontent.com/leakyMirror/map-of-europe/master/GeoJSON/europe.geojson")
map = map.join(df_to_join, on='NAME', how='left')

In [50]:
map

,FID,FIPS,ISO2,ISO3,UN,NAME,AREA,POP2005,REGION,SUBREGION,LON,LAT,geometry,R0,Confirmed,Deaths,Recovered,Active Infected
0,0.0,AJ,AZ,AZE,31,Azerbaijan,8260,8352021,142,145,47.395,40.430,"(POLYGON ((45.083321 39.76804400000015, 45.266...",1.68,12729,154,6799,5776
1,0.0,AL,AL,ALB,8,Albania,2740,3153731,150,39,20.068,41.143,"POLYGON ((19.436214 41.021065, 19.450554 41.05...",1.60,1962,44,1134,784
2,0.0,AM,AM,ARM,51,Armenia,2820,3017661,142,145,44.563,40.534,"(POLYGON ((45.57305100000013 40.632488, 45.528...",0.80,20268,350,9002,10916
3,0.0,BK,BA,BIH,70,Bosnia and Herzegovina,5120,3915238,150,39,17.786,44.169,"POLYGON ((17.649841 42.889076, 17.578526 42.94...",1.44,3273,169,2241,863
4,0.0,BU,BG,BGR,100,Bulgaria,11063,7744591,150,151,25.231,42.761,"POLYGON ((27.879166 42.841103, 27.894997 42.80...",1.26,3905,199,2074,1632
5,0.0,CY,CY,CYP,196,Cyprus,924,836321,142,145,33.219,35.043,"POLYGON ((33.652618 35.354103, 33.713051 35.38...",0.83,986,19,824,143
6,0.0,DA,DK,DNK,208,Denmark,4243,5416945,150,154,9.264,56.058,"(POLYGON ((11.513887 54.82972000000012, 11.564...",1.07,12591,600,11482,509
7,0.0,EI,IE,IRL,372,Ireland,6889,4143294,150,154,-8.152,53.177,"(POLYGON ((-9.65639 53.222221, -9.663334000000...",1.11,25379,1715,22698,966
8,0.0,EN,EE,EST,233,Estonia,4239,1344312,150,154,25.793,58.674,"(POLYGON ((23.990829 58.099998, 23.97805000000...",0.64,1981,69,1764,148
9,0.0,AU,AT,AUT,40,Austria,8245,8291979,150,155,14.912,47.683,"POLYGON ((13.833611 48.773605, 13.858055 48.77...",1.21,17341,690,16197,454
10,0.0,EZ,CZ,CZE,203,Czech Republic,7727,10191762,150,151,15.338,49.743,"POLYGON ((14.70028 48.581379, 14.656387 48.607...",NaN,NaN,NaN,NaN,NaN
11,0.0,FI,FI,FIN,246,Finland,30459,5246004,150,154,26.272,64.504,"(POLYGON ((23.705826 59.9272160000001, 23.6494...",1.19,7143,326,6200,617
12,0.0,FR,FR,FRA,250,France,55010,60990544,150,155,2.550,46.565,"(POLYGON ((9.48583200000013 42.61527300000012,...",1.07,197008,29643,74496,92869
13,0.0,GG,GE,GEO,268,Georgia,6949,4473409,142,145,43.518,42.176,"POLYGON ((41.547623 42.405777, 41.536385 42.45...",0.89,906,14,755,137
14,0.0,GM,DE,DEU,276,Germany,34895,82652369,150,155,9.851,51.110,"(POLYGON ((8.710255 47.69681, 8.678595 47.6933...",1.35,191272,8895,174740,7637
15,0.0,GR,GR,GRC,300,Greece,12890,11099737,150,39,21.766,39.666,"(POLYGON ((24.128609 34.85666700000013, 24.128...",1.11,3266,190,1374,1702
16,0.0,HR,HR,HRV,191,Croatia,5592,455149,150,39,16.693,45.723,"(POLYGON ((16.903889 42.72610500000013, 16.894...",3.00,2317,107,2142,68
17,0.0,HU,HU,HUN,348,Hungary,9210,10086387,150,151,19.134,47.070,"POLYGON ((18.81702 45.912964, 18.807499 45.902...",0.89,4094,570,2589,935
18,0.0,IC,IS,ISL,352,Iceland,10025,295732,150,154,-18.480,64.764,"POLYGON ((-15.070835 66.14360000000001, -15.14...",3.00,1823,10,1805,8
19,0.0,IS,IL,ISR,376,Israel,2171,6692037,142,145,34.851,31.026,"(POLYGON ((35.25972 31.7872200000001, 35.25444...",1.59,20778,306,15694,4778
20,0.0,IT,IT,ITA,380,Italy,29411,5864636,150,39,12.800,42.700,"(POLYGON ((12.127777 47.00166300000012, 12.136...",0.41,238499,34634,182893,20972
21,0.0,LG,LV,LVA,428,Latvia,6205,2301793,150,154,25.641,56.858,"POLYGON ((21.068607 56.435547, 21.057774 56.51...",1.08,1111,30,903,178
22,0.0,BO,BY,BLR,112,Belarus,20748,9795287,150,151,28.047,53.540,"POLYGON ((26.613209 55.674835, 26.619995 55.68...",0.60,58505,346,37666,20493
23,0.0,LH,LT,LTU,440,Lithuania,6268,3425077,150,154,23.897,55.336,"(POLYGON ((21.044441 55.32638500000013, 20.984...",0.73,1798,76,1475,247
24,0.0,LO,SK,SVK,703,Slovakia,4808,5386995,150,151,19.491,48.707,"POLYGON ((17.251656 48.024994, 17.241713 48.02...",1.97,1587,28,1447,112
25,0.0,LS,LI,LIE,438,Liechtenstein,16,34598,150,155,9.555,47.153,"POLYGON ((9.533569 47.274544, 9.56638700000000...",NaN,NaN,NaN,NaN,NaN
26,0.0,MK,MK,MKD,807,The former Yugoslav Republic of Macedonia,2543,2033655,150,39,21.698,41.600,"POLYGON ((20.82111 40.908882, 20.811943 40.901...",NaN,NaN,NaN,NaN,NaN
27,0.0,MT,MT,MLT,470,Malta,32,402617,150,39,14.442,35.890,"(POLYGON ((14.562222 35.820274, 14.51972200000...",0.16,665,9,616,40
28,0.0,BE,BE,BEL,56,Belgium,0,10398049,150,155,4.664,50.643,"POLYGON ((4.302375 51.263184, 4.309677 51.2620...",1.02,60550,9696,16771,34083
29,0.0,FO,FO,FRO,234,Faroe Islands,0,48205,150,154,-6.864,62.050,"(POLYGON ((-6.655278 61.389442, -6.660278 61.3...",NaN,NaN,NaN,NaN,NaN
30,0.0,AN,AD,AND,20,Andorra,0,73483,150,39,1.576,42.549,"POLYGON ((1.78172 42.569962, 1.774722 42.57110...",NaN,NaN,NaN,NaN,NaN
31,0.0,LU,LU,LUX,442,Luxembourg,0,456613,150,155,6.088,49.771,"POLYGON ((6.026256 50.181252, 6.02861 50.16610...",2.29,4120,110,3956,54
32,0.0,MN,MC,MCO,492,Monaco,0,325,150,155,7.412,43.750,"POLYGON ((7.439293 43.757523, 7.423055 43.7399...",1.00,100,4,94,2
33,0.0,MJ,ME,MNE,499,Montenegro,0,607969,150,39,19.254,42.792,"POLYGON ((18.455555 42.565826, 18.463886 42.56...",3.00,362,9,315,38
34,0.0,NL,NL,NLD,528,Netherlands,3388,1632769,150,155,5.389,52.077,"(POLYGON ((3.76417 51.345276, 3.861944 51.3391...",1.03,49801,6109,186,43506
35,0.0,NO,NO,NOR,578,Norway,30625,4638836,150,154,8.740,61.152,"(POLYGON ((8.74361 58.409721, 8.73194299999999...",1.50,8745,244,8138,363
36,0.0,PL,PL,POL,616,Poland,30629,38195558,150,151,19.401,52.125,"POLYGON ((18.851246 49.517357, 18.852219 49.52...",0.84,31931,1356,16683,13892
37,0.0,PO,PT,PRT,620,Portugal,9150,10528226,150,39,-8.058,40.309,"POLYGON ((-8.20472 41.87471800000014, -8.20111...",0.88,39133,1530,25376,12227
38,0.0,RO,RO,ROU,642,Romania,22987,21627557,150,151,24.969,45.844,"POLYGON ((20.726955 46.17556, 20.719997 46.187...",1.26,24045,1512,16911,5622
39,0.0,MD,MD,MDA,498,Republic of Moldova,3288,3876661,150,151,28.599,47.193,"POLYGON ((28.119717 46.854404, 28.115826 46.88...",NaN,NaN,NaN,NaN,NaN
40,0.0,SI,SI,SVN,705,Slovenia,2014,1999425,150,39,14.827,46.124,"POLYGON ((13.718655 46.526611, 13.77611 46.518...",0.05,1520,109,1376,35
41,0.0,SP,ES,ESP,724,Spain,49904,43397491,150,39,-3.649,40.227,"(POLYGON ((-2.925278 35.26666300000011, -2.936...",0.95,246272,28323,150376,67573
42,0.0,SW,SE,SWE,752,Sweden,41033,9038049,150,154,15.270,62.011,"(POLYGON ((16.83667 56.826942, 16.82805 56.825...",1.00,56043,5053,0,50990
43,0.0,SZ,CH,CHE,756,Switzerland,4000,7424389,150,155,7.908,46.861,"POLYGON ((7.697223 47.543327, 7.769722 47.5533...",0.89,31292,1956,29000,336
44,0.0,TU,TR,TUR,792,Turkey,76963,72969723,142,145,35.179,39.061,"(POLYGON ((26.078053 39.7836, 26.07027 39.7799...",0.87,187685,4950,160240,22495
45,0.0,UK,GB,GBR,826,United Kingdom,24193,60244834,150,154,-1.600,53.000,"(POLYGON ((-6.29083 49.912216, -6.311389 49.91...",1.07,305803,42717,1319,261767
46,0.0,UP,UA,UKR,804,Ukraine,57935,46917544,150,151,31.388,49.016,"(POLYGON ((33.04027600000012 46.011375, 33.008...",1.30,37361,1012,17078,19271
47,0.0,SM,SM,SMR,674,San Marino,0,30214,150,39,12.460,43.942,"POLYGON ((12.415798 43.957954, 12.450554 43.97...",NaN,NaN,NaN,NaN,NaN
48,0.0,RB,RS,SRB,688,Serbia,0,9863026,150,39,20.806,44.032,"POLYGON ((20.071423 42.560913, 20.105831 42.64...",1.71,12894,261,11947,686
49,0.0,VT,VA,VAT,336,Holy See (Vatican City),0,783,150,39,12.451,41.904,"POLYGON ((12.4450903308886 41.90311752178485, ...",NaN,NaN,NaN,NaN,NaN
50,0.0,RS,RU,RUS,643,Russia,1638094,143953092,150,151,96.689,61.988,(POLYGON ((21.36335462219328 55.28687278239793...,NaN,NaN,NaN,NaN,NaN

In [51]:
map.to_file('output/10_mappa_R0_europa_'+date_t+month_t+'.geojson', driver='GeoJSON')

GeometryTypeValidationError: Record's geometry type does not match collection schema's geometry type: 'MultiPolygon' != 'Polygon'